.App {
  text-align: center;
}
nav{
  display:flex;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
nav h4 {
  margin-left: 10px;;
  color: #204963;
}
ul {
  display: flex;
  justify-content: flex-end;  
}

li {
  list-style: none;
  margin-right: 6px;
  color: #204963;
}

a {
  text-decoration: none;
  padding: 6px;
  color: #204963;
}

body {
  background-color: #b2c2c0;
}

nav {
  background-color: gold;
}