h1 {
  font-size: 4rem;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5% 10% 2% 10%;
}

.column-item {
  width: 25%;
  margin: auto;
  padding: 40px;
  background-color: lightgrey;
}

.text-container {
  display: flex;
  padding: 2% 10% 2% 10%;
}

.text-left {
  text-align: left;
  width: 50%;
}
.text-right {
  text-align: left;
  width: 49%;
}

button {
  font-size: 1.3rem;
}
